{% extends "main/header.html" %} {% block content %}

<div class="">



<div class="container">
  <h1 style="text-align:center;">Notice Board</h1>
  {% for notice in noticeboard %}
  <div class="col s12 m6 l4">
    <div class="card blue-grey darken-1">
      <div class="card-content white-text">
        <span class="card-title">{{notice.header_notice}}</span>
        <p>{{notice.details_notice|safe}}</p>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
</div>

<style media="screen">
.container{
  position: relative;
  top: 100px;
  left: 100px;
}
h1{text-align: center;}
</style>
